.widgets {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    
}
.widgets .widget {
    border-radius: 20px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}