.widgets {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    
}
.widgets .widget {
    border-radius: 20px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.stats {
    display: flex;
    font-weight: 500;
    gap: 10px;
}

.transports {
    margin-top: 20px;
}
.transports h2 {
    margin-bottom: 10px;
}
.transport {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}
.transport:hover {
    background: #eee;
}

.employees {
    margin-top: 20px;
}

.employees h2 {
    margin-bottom: 10px;
}

.employee {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.employee:hover {
    background: #eee;
}

.travels {
    margin-top: 20px;
}

.travels h2 {
    margin-bottom: 10px;
}

.travel {
    cursor: pointer;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}
.travel .stats {
    justify-content: space-between;
}

.travel:hover {
    background: #eee;
}

.filters {
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-bottom: 20px;
}

.filters .filter {
    display: flex;
    flex-direction: column;
    gap: 4px;
}


.back__button {
    border-radius: 6px;
    display: block;
    background:  rgb(234, 234, 255);
    padding: 8px 16px;
    margin-bottom: 20px;
    font-weight: 500;
    color: rgb(99, 99, 185);
}

.quick__buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.quick__button {
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 4px 12px;
    border-radius: 20px;
}

.quick__button:hover {
    background: #eee;
}

.quick__button.active {
    color: #fff;
    border: 1px solid rgb(123, 123, 245);
    background: rgb(123, 123, 245);
}